<div class="prize">
	<div class="prize-top">
		<!-- ... -->
	</div>
	<div class="prize-head">
		<span class="prize-head-txt">
			Призы за мечты
		</span>
	</div>
	<div class="prize-body">
		<div class="prize-body-grid">
			<div class="prize-bg-box">
				<img class="prize-bg prize-bg_circle" src="/assets/img/design/prize/prize-circle.svg" alt="">
				<img class="prize-bg prize-bg_garland" src="/assets/img/design/prize/prize-garland.svg" alt="">
				<img class="prize-bg prize-bg_pink-curve" src="/assets/img/design/prize/prize-pink-curve.svg" alt="">
				<img class="prize-bg prize-bg_flag" src="/assets/img/design/prize/prize-flag.svg" alt="">
				<img class="prize-bg prize-bg_sock" src="/assets/img/design/prize/prize-sock.png" alt="">
			</div>
			<div class="prize-column-box">
				<div class="prize-column prize-column_500">
					<picture class="prize-picture">
						{% for point in breakpoints %}
							<source
								media="(min-width: {{ point.val }}px)"
								srcset="
									/assets/img/design/prize/500{{ point.key }}.png,
									/assets/img/design/prize/500{{ point.key }}@2x.png 2x,
									/assets/img/design/prize/500{{ point.key }}@3x.png 3x">
							{% endfor %}
						<img
							src="/assets/img/design/prize/500sm.png"
							srcset="/assets/img/design/prize/500sm@2x.png 2x, /assets/img/design/prize/500sm@3x.png 3x"
							alt="500 000 ₽">
					</picture>
					<div class="prize-txt-box">
						<span class="prize-txt">
							Выиграет 1 предприниматель на
							продвижение в интернете и на Ozon <br>
							+ пост у топового блогера
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<div class="prize-column-box">
				<div class="prize-column prize-column_200">
					<picture class="prize-picture">
						{% for point in breakpoints %}
							<source
								media="(min-width: {{ point.val }}px)"
								srcset="
									/assets/img/design/prize/200{{ point.key }}.png,
									/assets/img/design/prize/200{{ point.key }}@2x.png 2x,
									/assets/img/design/prize/200{{ point.key }}@3x.png 3x">
							{% endfor %}
						<img
							src="/assets/img/design/prize/200sm.png"
							srcset="/assets/img/design/prize/200sm@2x.png 2x, /assets/img/design/prize/200sm@3x.png 3x"
							alt="200 000 ₽">
					</picture>
					<div class="prize-txt-box prize-txt-box_circle">
						<span class="prize-txt">
							Выиграют 2 предпринимателя на продвижение в интернете и на Ozon
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<div class="prize-column-box">
				<div class="prize-column prize-column_100">
					<picture class="prize-picture">
						{% for point in breakpoints %}
							<source
								media="(min-width: {{ point.val }}px)"
								srcset="
									/assets/img/design/prize/100{{ point.key }}.png,
									/assets/img/design/prize/100{{ point.key }}@2x.png 2x,
									/assets/img/design/prize/100{{ point.key }}@3x.png 3x">
							{% endfor %}
						<img
							src="/assets/img/design/prize/100sm.png"
							srcset="/assets/img/design/prize/100sm@2x.png 2x, /assets/img/design/prize/100sm@3x.png 3x"
							alt="100 000 ₽">
					</picture>
					<div class="prize-txt-box">
						<span class="prize-txt">
							Выиграют 3 предпринимателя на
							продвижение в интернете и на Ozon
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<div class="prize-column-box">
				<div class="prize-column prize-column_20">
					<picture class="prize-picture">
						{% for point in breakpoints %}
							<source
								media="(min-width: {{ point.val }}px)"
								srcset="
									/assets/img/design/prize/20{{ point.key }}.png,
									/assets/img/design/prize/20{{ point.key }}@2x.png 2x,
									/assets/img/design/prize/20{{ point.key }}@3x.png 3x">
							{% endfor %}
						<img
							src="/assets/img/design/prize/20sm.png"
							srcset="/assets/img/design/prize/20sm@2x.png 2x, /assets/img/design/prize/20sm@3x.png 3x"
							alt="20 000 ₽">
					</picture>
					<div class="prize-txt-box prize-txt-box_circle">
						<span class="prize-txt">
							Выиграют 10 предпринимателей <br>
							на продвижение на Ozon
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<a class="prize-businessmen" href="">
				<!-- ... -->
			</a>
		</div>
	</div>
</div>
